#new-quote-button {
  background-color: #222;
  border: 2px solid #0c0;
  border-radius: 3px;
  color: #0c0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.75rem 2.25rem;
}

.post-archives h2,
.category-archives h2,
.tag-archives h2 {
  font-size: 1.5rem;
}

.post-archives ul,
.category-archives ul,
.tag-archives ul {
  li {
    a {
      margin-bottom: 0.5rem;
      margin-right: 1.125rem;
      font-size: 1rem;
      line-height: 3.5rem;
    }
  }
}

.wrapper-container {
  width: 100%;
  margin: 0;
}

.hfeed {
  padding: 2.5%;
}

.page p {
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.site-info a {
  color: #00cc00;
  text-decoration: none;
}

.site-info {
  margin: 4.5rem 0 3rem;
}

.logo-img {
  display: block;
  width: 300px;
}

.entry-title h1,
h2 {
  font-family: 'Exo', sans-serif;
  margin-top: 3rem;
}

.entry-title h2 {
  font-family: 'Exo', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0;
}

.entry-content a {
  color: #00cc00;
  text-decoration: none;
}

.main-navigation a {
  border-right: 1px solid #fff;
  //line-height: 1;
  padding: 0 1rem;
  color: #00cc00;
}

.powered a {
  color: white;
  //margin-left: 1rem;
  //margin-top: 1rem;
}

@include tablet {
  .logo-img {
    width: 500px;
  }

  .clearfix {
    line-height: 3rem;
    font-size: 1.5rem;
  }

  .entry-title {
    margin-top: 4rem;
    font-size: 2em;
  }

  #primary-menu ul {
    display: flex;
    justify-content: space-evenly;
  }

  .post-archives ul,
  .category-archives ul,
  .tag-archives ul {
    li {
      a {
        margin-bottom: 0.5rem;
        margin-right: 1.125rem;
        font-size: 1.25rem;
      }
    }
  }
}
@include desktop {
  .site-main {
    position: relative;
    &:before,
    &:after {
      font-family: 'FontAwesome ';
      font-weight: 900;
      color: #00cc00;
      font-size: 80px;
      position: absolute;
    }
    &:before {
      content: '\f10d';
      top: 0;
      left: -100px;
    }
    &:after {
      content: '\f10e';
      top: 0;
      right: -100px;
    }
  }

  .site-content {
    position: relative;
  }

  .logo-img {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  img {
    width: 700px;
  }

  .post-archives a {
    font-size: 2rem;
    list-style: none;
  }
  .browse-archives {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    position: relative;
    margin-left: 7%;
  }
  .page-id-211 {
    .site-content {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .home {
    .site-content {
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  .page-id-209 {
    .site-content {
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  #new-quote-button {
    margin: 0 auto;
  }
  .source {
    display: flex;
    justify-content: center;
  }

  .wrapper-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: inherit;
    margin: 0 auto;
  }

  .clearfix {
    line-height: 3rem;
  }
  #site-navigation {
    display: flex;
    justify-content: flex-end;
  }
  .main-navigation li {
    line-height: 1;
    padding: 0 1rem;
  }
  a {
    line-height: 1;
    padding: 0 1rem;
  }
  .wp-tag-cloud li a {
    font-size: 1.25rem;
  }
}
