.page-id-206 .hfeed {
  .quoteForm label {
    color: white;

    textarea {
      width: 50%;
    }
  }

  .quote-submission form div label {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }

  input {
    background-color: #222;
    margin-top: 1rem;
    border: 2px solid #0c0;
    border-radius: 3px;
    color: $color_green_universal;
    font-size: 1rem;
    font-family: 'Exo', sans-serif;
  }
}

@include desktop {
  .page-id-206 .hfeed {
    margin-left: 20%;
    margin-right: 20%;
  }

  .page-template-default {
    .logo-img {
      display: flex;
      justify-content: center;
    }
  }

  .quoteForm {
    label {
      color: white;
    }
  }

  input submit {
    margin-top: 3rem;
    font-size: 2.5rem;
  }

  .quote-submission form div label {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .quote-submission-wrapper {
    display: flex;
    flex-direction: column;
    text-align: inherit;
  }
  .page-id-206 {
    .main-navigation {
      width: 134%;
    }
  }
}
